body {
	text-align: center;
	font-family: sans-serif;
	background: #66CCFF;
	color: #000099;
}

.container form {
	width: 265px;
	margin: 0 auto;	
}

.container p {
	display: inline;
	padding: 0;
	margin: 0;
	background: green;
}

main {
	margin: 0 auto;
}

.lang-picker img {
	height: 50px;
	width: 85px
}

.lang-picker label > input {
	z-index: -1;
	position: absolute;
}

.lang-picker label > input + img {
	cursor: pointer;
	border: 3px solid transparent;
}

.lang-picker label > input:checked + img {
	border: 3px solid black;
}

img {
  max-width: 100px;
}

h2 {
	max-width: 300px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

h3 {
	font-size: 18px;
}

.visual-aid img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

@media only screen and (min-width: 640px) {
	
}
